@model LecturerClaimsApp.Models.LecturerClaim

<h2>Submit a New Claim</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="LecturerName">Lecturer's Name:</label>
        <input type="text" class="form-control" id="LecturerName" name="LecturerName" required />
    </div>
    
    <div class="form-group">
        <label for="HoursWorked">Hours Worked per Month:</label>
        <input type="number" class="form-control" id="HoursWorked" name="HoursWorked" required />
    </div>
    
    <div class="form-group">
        <label for="HourlyRate">Rate per Hour:</label>
        <input type="number" step="0.01" class="form-control" id="HourlyRate" name="HourlyRate" required />
    </div>
    
    <div class="form-group">
        <label for="AdditionalNotes">Add Supporting Notes if applicable. if not, write none:</label>
        <textarea class="form-control" id="AdditionalNotes" name="AdditionalNotes"></textarea>
    </div>
    
    <div class="form-group">
        <label for="DocumentPath">Uplaod Supporting Documents (Size Limit 2 MB):</label>
        <input type="file" class="form-control" id="DocumentPath" name="DocumentPath" required />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
